# HIV Infections in New York City

This analyzes the patterns and disparities of HIV infections in New York City. The aim is to find out how race/ethnicity, age group, gender and neighborhood influence the rate of HIV AIDS contamination.

Importing all required libraries

In [1]:

import requests
import pandas as pd
import json
from pathlib import Path
import sqlite3

Reading the dataset of HIV AIDS Diagnosis by Gender, Neighborhood and Race/Ethnicity. And creating a dataframe called df_Gender

In [2]:

df_Gender = pd.read_csv('Dataset/HIV_AIDS_by_Gender_by_Neighborhood_and_Race_Ethnicity.csv')
df_Gender

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,NaN,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,NaN,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
3,2012,NaN,Upper Westside,Female,Unknown,0,0,0,0,0,0
4,2013,NaN,Willowbrook,Male,Unknown,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8971,2021,Staten\nIsland,Willowbrook,Male,Asian/Pacific\nIslander,2,24.2,0,0,0,0
8972,2021,Staten\nIsland,Willowbrook,Male,Black,0,0,0,NaN,0,0
8973,2021,Staten\nIsland,Willowbrook,Male,Latino/Hispanic,1,18.2,0,0,0,0
8974,2021,Staten\nIsland,Willowbrook,Male,Other/Unknown,0,0,0,NaN,1,153
8975,2021,Staten\nIsland,Willowbrook,Male,White,0,0,0,NaN,3,12.8

Reading the dataset of HIV AIDS Diagnosis by Age, Neighborhood and Race/Ethnicity. And creating a dataframe called df_Age

In [3]:

df_Age = pd.read_csv('Dataset/HIV_AIDS_by_Age_Group_by_Neighborhood_and_Race_Ethnicity.csv')
df_Age

,YEAR,NEIGHBORHOOD,RACE/ETHNICITY,AGE,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION",Borough
0,2013,High Bridge - Morrisania,Native American,30 - 39,0,0,0,0,0,0,NaN
1,2010,East Harlem,Unknown,40 - 49,0,NaN,0,NaN,0,NaN,NaN
2,2011,High Bridge - Morrisania,Unknown,40 - 49,0,NaN,0,NaN,0,NaN,NaN
3,2012,Greenwich Village - SoHo,Native American,50 - 59,0,0,0,0,0,0,NaN
4,2011,Long Island City - Astoria,Multiracial,20 - 29,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21031,2021,Willowbrook,Black,60+,0,0,0,NaN,0,0,Staten\nIsland
21032,2021,Willowbrook,Latino/Hispanic,60+,0,0,0,NaN,0,0,Staten\nIsland
21033,2021,Willowbrook,Other/Unknown,60+,0,0,0,NaN,NaN,NaN,Staten\nIsland
21034,2021,Willowbrook,White,60+,0,0,0,NaN,1,5.6,Staten\nIsland
21035,2021,Willowbrook,All,All,4,4.9,0,0,4,4.9,Staten\nIsland

In the next few lines, I will be cleaning the data. Both datasets will be cleaned separatly before joining them. Lets start by checking the data type we are working with.

In [4]:
# Checking the number of rows & columns in Gender dataset
df_Gender.shape

(8976, 11)

In [5]:
# Checking the number of rows & columns in Age dataset
df_Age.shape

(21036, 11)

In [6]:
#Slicing the number of rows in Age to match Gender
df_Age = df_Age.head(8976).copy()
df_Age.shape

(8976, 11)

In [7]:
# Checking unique values in Age before joining the datasets
pd.unique(df_Age["NEIGHBORHOOD"])

array(['High Bridge - Morrisania', 'East Harlem',
       'Greenwich Village - SoHo', 'Long Island City - Astoria',
       'Upper Eastside', 'West Queens', 'Chelsea - Clinton',
       'Southeast Queens', 'Unknown', 'East New York',
       'East Flatbush - Flatbush', 'Greenpoint', 'Canarsie - Flatlands',
       'Port Richmond', 'Central Harlem - Morningside Heights',
       'Hunts Point - Mott Haven', 'Williamsburg - Bushwick', 'Jamaica',
       'Lower Manhattan', 'Pelham - Throgs Neck', 'Crotona - Tremont',
       'Fordham - Bronx Park', 'Ridgewood - Forest Hills',
       'Downtown - Heights - Park Slope', 'Kingsbridge - Riverdale',
       'Flushing - Clearview', 'Washington Heights - Inwood',
       'Stapleton - St. George', 'Willowbrook',
       'Union Square - Lower Eastside', 'Borough Park',
       'South Beach - Tottenville', 'Fresh Meadows',
       'Bayside - Little Neck', 'Sunset Park', 'Southwest Queens',
       'Upper Westside', 'Coney Island - Sheepshead Bay', 'Rockaway',
       'Gramercy Park - Murray Hill', 'Bensonhurst - Bay Ridge',
       'Bedford Stuyvesant - Crown Heights', 'Northeast Bronx', 'All',
       'Bedford Stuyvesant -\nCrown Heights'], dtype=object)

In [10]:
# Checking unique values in Gender before joining the datasets
pd.unique(df_Gender["Neighborhood (U.H.F)"])

array(['Greenpoint', 'Stapleton - St. George', 'Southeast Queens',
       'Upper Westside', 'Willowbrook', 'East Flatbush - Flatbush',
       'Southwest Queens', 'Fordham - Bronx Park', 'Flushing - Clearview',
       'Chelsea - Clinton', 'Coney Island - Sheepshead Bay', 'Unknown',
       'Gramercy Park - Murray Hill', 'Crotona - Tremont', 'Jamaica',
       'South Beach - Tottenville', 'Union Square - Lower Eastside',
       'Borough Park', 'Port Richmond', 'Greenwich Village - SoHo',
       'East New York', 'Downtown - Heights - Park Slope',
       'Pelham - Throgs Neck', 'Sunset Park',
       'Central Harlem - Morningside Heights', 'West Queens',
       'Bedford Stuyvesant - Crown Heights', 'Fresh Meadows',
       'Bayside - Little Neck', 'High Bridge - Morrisania',
       'Bensonhurst - Bay Ridge', 'Washington Heights - Inwood',
       'Upper Eastside', 'Hunts Point - Mott Haven',
       'Kingsbridge - Riverdale', 'Northeast Bronx',
       'Canarsie - Flatlands', 'East Harlem', 'Lower Manhattan',
       'Ridgewood - Forest Hills', 'Williamsburg - Bushwick', 'Rockaway',
       'Long Island City - Astoria', 'All', 'Fordham - Bronx\nPark',
       'High Bridge -\nMorrisania', 'Hunts Point - Mott\nHaven',
       'Kingsbridge -\nRiverdale', 'Pelham - Throgs\nNeck',
       'Bedford Stuyvesant -\nCrown Heights', 'Bensonhurst - Bay\nRidge',
       'Coney Island -\nSheepshead Bay',
       'Downtown - Heights -\nPark Slope', 'East Flatbush -\nFlatbush',
       'Williamsburg -\nBushwick',
       'Central Harlem -\nMorningside Heights',
       'Gramercy Park -\nMurray Hill', 'Greenwich Village -\nSoho',
       'Union Square -\nLower East Side', 'Upper East Side',
       'Upper West Side', 'Washington Heights -\nInwood',
       'Long Island City -\nAstoria', 'Ridgewood - Forest\nHills',
       'South Beach -\nTottenville', 'Stapleton - St.\nGeorge'],
      dtype=object)

In [ ]:
df_Age.dtypes

YEAR                                                                    int64
NEIGHBORHOOD                                                           object
RACE/ETHNICITY                                                         object
AGE                                                                    object
TOTAL NUMBER OF HIV DIAGNOSES                                          object
HIV DIAGNOSES PER 100,000 POPULATION                                   object
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          object
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    object
TOTAL NUMBER OF AIDS DIAGNOSES                                         object
AIDS DIAGNOSES PER 100,000 POPULATION                                  object
Borough                                                                object
dtype: object

In [ ]:
df_Gender.dtypes

YEAR                                                                    int64
Borough                                                                object
Neighborhood (U.H.F)                                                   object
SEX                                                                    object
RACE/ETHNICITY                                                         object
TOTAL NUMBER OF HIV DIAGNOSES                                          object
HIV DIAGNOSES PER 100,000 POPULATION                                   object
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          object
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    object
TOTAL NUMBER OF AIDS DIAGNOSES                                         object
AIDS DIAGNOSES PER 100,000 POPULATION                                  object
dtype: object

Placing string type before processing, handling commas, blank spaces and converting the following  numeric columns from Text to Numbers in both datasets: Total Number of HIV diagnoses, HIV Diagnoses per 100,000 Population, Total Number of Concurrent HIV/AIDS Diagnoses, Proportion of Concurrent HIV/AIDS Diagnoses among all HIV Diagnoses, Total Number of AIDS Diagnoses & AIDS Diagnoses per 100,000 Population

In [ ]:
# Converting the grouped by Gender dataset columns to numeric, handling errors and strings with commas

columns_to_convert = [
    'TOTAL NUMBER OF HIV DIAGNOSES',
    'HIV DIAGNOSES PER 100,000 POPULATION',
    'TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES',
    'PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES',
    'TOTAL NUMBER OF AIDS DIAGNOSES',
    'AIDS DIAGNOSES PER 100,000 POPULATION'
]


for col in columns_to_convert:
    df_Gender[col] = pd.to_numeric(df_Gender[col].astype(str).str.replace(",", "").str.strip(), errors='coerce')

print(df_Gender[columns_to_convert].dtypes)

#print(df_Gender[columns_to_convert].head())

TOTAL NUMBER OF HIV DIAGNOSES                                          float64
HIV DIAGNOSES PER 100,000 POPULATION                                   float64
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          float64
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    float64
TOTAL NUMBER OF AIDS DIAGNOSES                                         float64
AIDS DIAGNOSES PER 100,000 POPULATION                                  float64
dtype: object

Renaming Neighborhood (U.H.F) column in Gender to match NEIGHBORHOOD in Age

In [ ]:
df_Gender.rename(columns={"Neighborhood (U.H.F)": "NEIGHBORHOOD"}, inplace=True)
df_Gender.columns

Index(['YEAR', 'Borough', 'NEIGHBORHOOD', 'SEX', 'RACE/ETHNICITY',
       'TOTAL NUMBER OF HIV DIAGNOSES', 'HIV DIAGNOSES PER 100,000 POPULATION',
       'TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES',
       'PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES',
       'TOTAL NUMBER OF AIDS DIAGNOSES',
       'AIDS DIAGNOSES PER 100,000 POPULATION'],
      dtype='object')

In [ ]:
# Converting the grouped by Age dataset columns to numeric, handling errors and strings with commas

columns_to_convert = [
    'TOTAL NUMBER OF HIV DIAGNOSES',
    'HIV DIAGNOSES PER 100,000 POPULATION',
    'TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES',
    'PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES',
    'TOTAL NUMBER OF AIDS DIAGNOSES',
    'AIDS DIAGNOSES PER 100,000 POPULATION'
]


for col in columns_to_convert:
    df_Age[col] = pd.to_numeric(df_Age[col].astype(str).str.replace(",", "").str.strip(), errors='coerce')

print(df_Age[columns_to_convert].dtypes)

#print(df_Age[columns_to_convert].head())

TOTAL NUMBER OF HIV DIAGNOSES                                          float64
HIV DIAGNOSES PER 100,000 POPULATION                                   float64
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          float64
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    float64
TOTAL NUMBER OF AIDS DIAGNOSES                                         float64
AIDS DIAGNOSES PER 100,000 POPULATION                                  float64
dtype: object

Age Data preview

In [ ]:
pd.set_option('display.max_rows', 50)     # Show up to 100 rows
pd.set_option('display.max_columns', 11)   # Show up to 11 columns
df_Age.head()

#df_Age.iloc[54]

,YEAR,NEIGHBORHOOD,RACE/ETHNICITY,AGE,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION",Borough
0,2013,High Bridge - Morrisania,Native American,30 - 39,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2010,East Harlem,Unknown,40 - 49,0.0,NaN,0.0,NaN,0.0,NaN,NaN
2,2011,High Bridge - Morrisania,Unknown,40 - 49,0.0,NaN,0.0,NaN,0.0,NaN,NaN
3,2012,Greenwich Village - SoHo,Native American,50 - 59,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2011,Long Island City - Astoria,Multiracial,20 - 29,0.0,0.0,0.0,0.0,0.0,0.0,NaN

Gender Data preview

In [ ]:
pd.set_option('display.max_rows', 50)     # Show up to 100 rows
pd.set_option('display.max_columns', 11)   # Show up to 11 columns
df_Gender.head()

,YEAR,Borough,NEIGHBORHOOD,SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6.0,330.4,0.0,0.0,5.0,275.3
1,2011,NaN,Stapleton - St. George,Female,Native American,0.0,0.0,0.0,0.0,0.0,0.0
2,2010,NaN,Southeast Queens,Male,All,23.0,25.4,5.0,21.7,14.0,15.4
3,2012,NaN,Upper Westside,Female,Unknown,0.0,0.0,0.0,0.0,0.0,0.0
4,2013,NaN,Willowbrook,Male,Unknown,0.0,0.0,0.0,0.0,0.0,0.0

Now that both our datasets have been cleaned, it's time to join them both using SQLite

In [ ]:
import sqlite3

# Saving both Age & Gender Datasets into SQLite
#conn = sqlite3.connect("hiv_data.db")
#df_Age.to_sql("age_data", conn, if_exists="replace", index=False)
#df_Gender.to_sql("gender_data", conn, if_exists="replace", index=False)

# Joining Age & Gender on Year
#query = """
#SELECT *
#FROM age_data AS Age
#JOIN gender_data AS Gender
#ON Age."YEAR" = Gender."YEAR"
#"""
#Age_Gender_df = pd.read_sql_query(query, conn)

#Age_Gender_df.head()

Now moving into data exploration; Where I will look into data descriptive Stats, identify trends and do some group comparisons.

Lets start by finding the total cases by race, age group, sex, and neighborhood

Now looking at the trend in diagnoses. How has this changed over time for each group?

Finally lets do some comparisons to find out which race has the highest infection rate in each neighborhood. Are there gender disparities across neighborhoods? Who are the most affected; young or old age group?